@use "sass:math";
@import "_mixins.scss";
@import "_variables.scss";
@import "_nullstyle.scss";

html,
body {
   height: 100%;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   &._lock {
      overflow: hidden;
   }
}

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 10;
   background-color: blue;
   &__container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      min-height: 90px;
   }
   // .header__logo
   &__logo {
      flex: 0 0 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 3;
      img {
         max-width: 100%;
      }
   }
}
.menu {
   &__arrow {
      display: none;
   }
   // .menu__body
   &__body {
      @media (max-width: $mobile) {
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0;
         left: -100%;
         background-color: rgba(0, 0, 0, 0.89);
         padding: toRem(100) toRem(30) toRem(30) toRem(30);
         transition: left 0.3s ease 0s;
         overflow: auto;
         &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 90px;
            top: 0;
            left: 0;
            background-color: blue;
            z-index: 2;
         }
         &._active {
            left: 0;
         }
      }
   }
   // .menu__list
   &__list {
      > li {
         position: relative;
         margin-left: 20px;
      }
      @media (max-width: $mobile) {
         > li {
            &._active {
               .menu__sub-list {
                  display: block;
               }
            }
         }
      }

      @media (min-width: 767px) {
         display: flex;
         align-items: center;
         > li {
            padding: 10px 0;
         }
      }
   }
   // .menu__item
   &__item {
      @media (max-width: $mobile) {
         flex-wrap: wrap;
         &:not(:last-child) {
            margin-bottom: 30px;
         }
      }
   }
   // .menu__link
   &__link {
      color: white;
      font-size: 18px;
      &:hover {
         text-decoration: underline;
      }
      @media (max-width: $mobile) {
         font-size: 24px;
      }
   }
   // .menu__sub-list
   &__sub-list {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: black;
      padding: 15px;
      min-width: 200px;
      @media (min-width: 767px) {
         transform: translate(0px, 10%);
         opacity: 0;
         visibility: hidden;
         transition: all 0.3s ease 0s;
         pointer-events: none;
      }
      @media (max-width: $mobile) {
         position: relative;
         background-color: #fff;
         flex: 1 1 100%;
         margin-top: 20px;
         display: none;
      }
   }
   // .menu__sub-item
   &__sub-item {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }
   // .menu__sub-link
   &__sub-link {
      color: white;
      &:hover {
         text-decoration: underline;
      }
      @media (max-width: $mobile) {
         font-size: 20px;
         color: $black-text-color;
      }
   }
}
body {
   &._pc {
      .menu__list {
         > li {
            &:hover {
               .menu__sub-list {
                  opacity: 1;
                  visibility: visible;
                  transform: translate(0px, 0px);
                  pointer-events: all;
               }
            }
         }
      }
   }
   &._touch {
      .menu__arrow {
         display: block;
         width: 0;
         height: 0;
         margin-left: 5px;
         transition: transform 0.3s ease 0s;
         border-left: 5px solid transparent;
         border-right: 5px solid transparent;
         border-top: 10px solid #fff;
      }
      .menu__list {
         > li {
            display: flex;
            align-items: center;
            &._active {
               .menu__sub-list {
                  opacity: 1;
                  visibility: visible;
                  transform: translate(0px, 0px);
                  pointer-events: all;
               }
               .menu__arrow {
                  transform: rotate(-180deg);
               }
            }
         }
         .menu__link {
            flex: 1 1 auto;
         }
      }
   }
}

.icon-menu {
   display: none;
   @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: toRem(30);
      height: toRem(18);
      cursor: pointer;
      background-color: transparent;
      z-index: 5;
      @media (any-hover: none) {
         cursor: default;
      }
      span,
      &::before,
      &::after {
         content: "";
         position: absolute;
         width: 100%;
         height: toRem(2);
         right: 0;
         background-color: $white-text-color;
         transition: all 0.3s ease 0s;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: 50%;
         transform: scale(1) translate(0px, -50%);
      }
      &._active {
         span {
            transform: scale(0) translate(0px, -50%);
         }
         &::before {
            top: calc(50% - toRem(1));
            transform: rotate(-45deg);
         }
         &::after {
            top: calc(50% - toRem(1));
            transform: rotate(45deg);
         }
      }
   }
}

.page {
   padding: 90px 0 30px;
   // .page__section
   &__section {
      padding: 30px;
      max-width: 1200px;
      margin: 0 auto;
      // .page__section--1
      &--1 {
         background-color: lightcoral;
      }
      // .page__section--2
      &--2 {
         background-color: lightgreen;
      }
      // .page__section--3
      &--3 {
         background-color: lightskyblue;
      }
   }
   // .page__title
   &__title {
      font-size: 40px;
      margin-bottom: 20px;
   }
   // .page__text
   &__text {
      line-height: 1.5;
      p {
         margin-bottom: 15px;
      }
   }
   // .page__sub-title
   &__sub-title {
      font-size: 30px;
      margin-bottom: 20px;
   }
}
